.forget_password{
    text-align: center;
    width: 65vh;
    height: 95vh;
    border: 1px solid aliceblue;
    margin-left: 33%;
    background-color: aliceblue;
}

.forget_password_img{
    border-radius: 55px;

}

#email{
    border-radius: 15px;
    width: 40vh;
    margin-bottom: 25px;

}

.sent_link{
    margin: 15px;

}

#submit{
    border-radius: 15px;
    padding: 10px;
    background-color: green;
}