.body{
   
    
    border: 10px solid rgb(202, 202, 219);
    margin: 0;
    height: 100vh;
    background-color: #beb7d1;
    border-radius: 15px;
    justify-content: center;

    width: 400px;
    margin-left: 35%;
    
    
}
div{
    margin-left: 15px;
   
}
.username{
    border-radius: 15px;
    margin-bottom: 15px;
    width: 75%;
    padding: 10px;
    
}

.password{
    border-radius: 15px;
    border: 3px unset aliceblue;
    margin-bottom: 15px;
    padding: 10px;
    width: 63%;

}
 .sign-in{
    margin-top: 25px;
    border-radius: 15px;
    border: 3px;
    background-color: green;
    margin-left: 35%;
    padding: 10px;
 }

.google{
    border: 3px solid green ;
    background-color: green;
    border-radius: 15px;
    margin-left: 23%;
    
}

.google-logo{
    width: 25px;
    height: 25px;
    background-color: green;
    border-radius: 15px;

}

.google:hover{
    background-color: #beb7d1;
    border: 1px solid green;
}

.sign-in:hover{
    background-color: #beb7d1;
    border: 1px solid green;
}

.forget_password{
    margin-left: 50%;
}

.or{
    text-align: center;
}
.createaccount{
    text-align: center;
    margin-top: 5%;
}

h1{
    text-align: center;
}